@import '../base/variables';

#mode_switch{
    position: fixed;
    right:20px;
    bottom:20px;
    // display: block;
    // width:50px;
    // height:50px;
    overflow: hidden;
    cursor:pointer;
    .icon{
        display: block;
        width:50px;
        height:50px;
        background: url('img/mode-switch-4.png') no-repeat;
        background-size: 128px;
        border-radius:100px;
        line-height: 50px;
        font-size: 11px;
        padding-left: 8px;
        transition: all 0.4s ease-in-out;
        span{
            display: none;
            font-family: $gilroybold;
        }
        &.night{
            display:block;
            background-position: bottom right;
            span{
                color:$whitish;
            }
        }
        &.day{
            display: none;
            background-position: top left;
            span{
                padding-left: 46px;
                color:$dm-darkblue;
            }
        }
        &:hover{
            width:125px;
            span{display: block;}
        }
    }
}

.dark{
    ::-moz-selection {
        background: $yellow;
        color:$dm-darkblue;
        text-shadow: none;
    }
    ::selection {
        background: $yellow;
        color:$dm-darkblue;
        text-shadow: none;
    }
    #mode_switch{
        .icon{
            &.day{display: block;}
            &.night{display:none}
        }
    }
    
    .mctb-bar, .mctb-response, .mctb-close {
        background-color: rgb(41, 43, 43) !important;
    }
    #mailchimp-top-bar {
        .mctb-label {
            color: #fff !important;
        }
        .mctb-button{
            background:$blue !important;
            border-color:$dm-darkblue !important;
            &:hover{
                background:#000 !important;
                border-color:$blue !important;
            }
        }
        .mctb-close{
            background-color: $white !important;
        }
    }
    body{
        background-color: rgb(39, 40, 39);
        color:$dm-text;
    }
    
    .header-minimal{
        background-color: $blue;
        .navigation{ 
            ul{
                li{
                    &>a{
                        border-color:#fff !important;
                        @include below-pc{
                            border:0;
                        }
                        color: #fff !important;
                        background-color: $blue;
                        &:hover{
                            background-color: $dm-darkblue;
                        }
                    }
                    &.dropdown,&.menu-item-has-children{
                        &>a{
                            &:after{
                                background-position: -37px -44px;
                            }
                        }
                    }
                    .sub-menu{
                        background-color: transparent;
                        li{
                            border-color:#fff !important;
                            &:last-child{
                                border-bottom-color:#fff;
                            }
                            &:first-child{
                                border-top-color:#fff;
                            }
                        }
                        .menu-item{
                            a{
                                background-color: $blue;                                
                                &:hover{
                                    color:#fff !important;
                                    background-color: $dm-darkblue;
                                }
                            }
                        }
                        &::after{
                            border-bottom-color:#fff;
                        }
                    }
                    &:hover{
                        a{
                            background-color: $dm-darkblue;
                        }
                    }
                }
            }
        }
    }
    
    .header-main{
        background-color: $dm-darkblue;
        .navigation{
            ul{
                li{
                    .sub-menu{
                        
                        li{
                            background-color: $blue;
                            a{
                                color:$white;
                            }
                            &.menu-item-has-children{
                                a{
                                    &:after{
                                        background-position: -16px -33px;
                                    }
                                }
                            }
                            &:hover{
                                background-color: $dm-darkblue;
                                &>a{
                                    background-color: $dm-darkblue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .slider-area{
        .slider-nav{
            span{
                background:$blue;
                border-color:$dm-blue;
                color:$white;
                &:hover{
                    background:$white;
                    color:$dm-blue;
                }
            }
        }
        .header-text{
            .blue{
                color:$yellow;
            }
        }
    }
    .content {
        h1,h2,h3,h4{
            color:$whitish !important;
        }
        a{
            color:$yellow;
        }
    }
    
    .flagship{
        .tag{
            .taglink{
                color:$yellow;
            }
        }
    }
    
    .post-meta{
        .meta-data{
            h5{
                a{
                    color:$whitish !important;
                }
            }
        }
        .tags-meta{
            a{
                color:$white;
            }
        }
    }
    
    .sidebar{
        a{
            color:$yellow;
        }
        form label, .widget .title{
            border-bottom-color:$white;
        }
    }
    
    a{
        &.logolink{
            &.blacklogo{
                background: url(img/gcr-logo.svg) no-repeat;
            }
        }
    }
    
    .bg-blue{
        background-color: $dm-darkblue;
    }
    
    .bg-dark-blue{
        background-color: rgb(19, 26, 50);
    }
    
    .section-title-2{
        .section-moto{
            color:$dm-text;
        }
    }
    
    .doubel_border{
        border-color:$whitish;
    }
    
    .related_post {
        .heading{
            border-color:$whitish;
            h3{
                color:$whitish;
            }
        }
    }
    .related_post .article .headline:after{
        background-color: #fff;
    }
    
    .flagship{
        p{
            &.category,&.excerpt{
                color:$dm-text;
            }
        }
    }
    .single-tier{
        background-color: #353535;
        .body{
            ul{
                li{
                    color:$dm-text;
                    background: url('img/tick-white.png') no-repeat;
                    background-size: 18px;
                }
            }
            .btn{
                background-color: $dm-text;
                color:$dm-blue;
                &:hover{
                    background-color: $dm-blue;
                    color:#fff;
                }
            }
        }
    }
    
    .blank-section{
        h3{
            color:$dm-text;
        }
    }
    
    .article{
        background-color: $dm-grey;
        .text{
            .headline{
                a{
                    color:$white;
                    &:hover{
                        color:$yellow;
                    }
                }
            }
            .details{
                p{
                    color:$dm-text;
                }
            }
            .meta-data{
                .meta-text{
                    .date{
                        color:$whitish;
                    }
                }
            }
        }
    }
    .article-block-vertical{
        .left-high-block{
            .article{
                .text{
                    &.overlay-text{
                        background-color: $dm-darkblue;
                        h3{
                            a{
                                color:$white;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .footer{
        color:$whitish;
        background-color: $dm-darkblue;
        &.minimal{
            background:$blue;
            .logo-area{
                .tag{
                    color:$white;
                }
            }
            .bottom_links{
                li{
                    a{
                        color:$whitish;
                    }
                }
            }
            .socials{
                a{
                    .icon{
                        color:$blue;
                        background-color: $white;
                    }
                    &:hover{
                        .icon{
                            color:$black;
                        }
                    }
                }
                li{
                    a{
                        &.discord_link{
                            .discord{
                                background-position: 0 -69px !important;
                                &:hover{
                                    background-position: 0 -0px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer-large{
            .logo-area{
                .tag{
                    color:$whitish;
                }
                .socials{
                    li{
                        a{
                            color:$dm-darkblue;
                            &:hover{
                                background-color: $blue;
                                color:$white;
                            }
                            &.discord_link{
                                .discord{
                                    &:hover{
                                        background-position: 0 -34px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .widget{
                ul li{
                    a{
                        color:$whitish;
                    }
                }
            }
        }
    }
    .call-to-action .get_gcr .sub_gcr{
        background-color: $dm-darkblue;
    }
    
    .livewire{
        background-color: $dm-darkblue;
        .title{
            h3{
                color:#fff;
                border-color:#fff;
            }
        }
        a{
            color:$dm-text;
        }
    }
    .widget{
        li{
            a{
                color:$white;
            }
        }
    }

    .subscribe-label {
        color: #fff !important;
    }
    .subscribe-label a {
        color: #fff !important;
    }
    .post-meta .tags-meta a:hover{
        background-color: $dm-darkblue;
    }
    .comment-area{
        border-color:$yellow;
        .comments_list{
            .comment{
                .reply{
                    .comment-reply-link{
                        color:$dm-darkblue;
                        background-color: $white;
                        &:hover{
                            color: $white;
                            background-color: $blue;
                        }
                    }
                }
            }
        }
    }
    
    
    // wp preset
    .has-black-color{
        color: $white !important;
    }
    
    .portfolio-slider-section{
        .heading{
        }
        .help-text{
            .tick-notes{
                li{
                    color: #f1f1f1;
                }
            }
        }
    }
    
}


