@media only screen and (max-width: 1199px) {
    .article-block-vertical{
        .left-high-block {

            .article {

                height:auto;

            }
        }
        .right-vertical-block {
            .article {
                height:auto;
            }
        }
    
    }
}
    
    
@media only screen and (max-width: 1111px) {
    #wp-admin-bar-wp-logo,
    #wp-admin-bar-customize,
    #wp-admin-bar-updates,
    #wp-admin-bar-comments,
    #wp-admin-bar-rank-math,
    #wp-admin-bar-popup-maker,
    #wp-admin-bar-monsterinsights_frontend_button,
    .not_existing_element{ display: none;}
    
}
    
@media only screen and (min-width:1199px){
    .image-slider-nav{display: none;animation-name:fadeIn}
    .image-slider-wrapper:hover .image-slider-nav{display:inline-block;}
        
    @keyframes fadeIn{
        0%{opacity:0}
        to{opacity:1;}
    }
}

@media only screen and (min-width:768px) and (max-width:1199px){
    .subscription-section{
        .subscribe-text{
            width:50%;
            margin-right: 2%;
            h3{
                font-size:1.5em;
            }
        }
        .subscribe-form{
            width:48%;
            margin-top:0;
            .subs-form{
                margin-top:0;
            }
            .field-side{
                width:50%;
                margin-right:5%;
                margin-bottom:10px;
                input{
                    max-width:250px;
                    float:left;
                }
            }
        }
    }
    .three-column{
        .column{
            flex:32%;
            
        }
    }
    .latest-post{
        .article{
            .text{
                
            }
            .meta-data{
                
            }
        }
        .three-column{
            .column{
                &:nth-child(3n){
                    margin-right:2%;
                }
            }
        }
    }
    .related_post{
        .article{
            .text{
                min-height:320px;
            }
        }
    }
    .related_post, .category_post{
        .article{
            .text{
                min-height:260px;
            }
        }
    }
    .right-vertical-block{
        .article{
            .text{
                min-height:320px;
            }
        }
    }
    .slider-area{
        &.slider-content{
            .slide{
                .slide-text{
                    h2{
                        font-size:1.7em;
                    }
                    p{
                        font-size:1.1em;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .tier-area {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        .single-tier{
            margin:10px 0;
        }
    }
    
    
    
    .article-block-vertical{
        .left-high-block{
            float:none;
            width:100%;
            .article{
                clear:both;
                .text.overlay-text{
                    position:relative;
                    width:75%;
                    float:left;
                    height:200px;
                    .meta-data{
                        position:absolute;
                        bottom:0;
                    }
                }
                .thumb{
                    padding:20px 20px 0 0;
                    width:22%;
                    float:right;
                    height:200px;
                    overflow: hidden;
                    margin-bottom:20px;
                }
            }
        }
        .right-vertical-block{
            float:none;
            width:100%;
            margin-left:0;
            .article{
                .text{
                    min-height:0;
                    width:75%;
                    .meta-data{
                        position:relative;
                    }
                }
                .thumb{
                    width:20%;
                }
            }
        }
    }
}
    
// for navigation
@media only screen and (max-width: 1100px) {
    #wpadminbar{top:-46px}
    
    #menu {
        display: block;
        position: absolute;
        right: 65px;
        top: 0px;
        border:1px solid $blue;
        .home &{
            right:16px;
        }
        .dark &{
            border-color: $white;
        }
    }
    #navigation {
        width: calc(70% - 50px);
        margin-right: 0;
        &.active{
            border: 1px solid white;
            border-bottom: 0;
            margin-top: 40px;
            display: block;
            background: $nav-bg;
            float: right;
            /* position: absolute; */
            top: 0;
            right: 20px;
            width: 250px;
            z-index: 999;
            height: auto;            
        }
    }
    #navigation:not(.active), 
    #navigation-button:not(.active) {
        display: none;
    }
    

    
    

    body #mailchimp-top-bar.mctb-medium .mctb-close,
    body .mctb-icon-inside-bar .mctb-close{
        right: 110px;
        position: absolute;
        /* float: right; */
        /* float: none; */
        /* top: 0; */
    }
    .sub_gcr{position:relative;margin:0;}
} /* media end */
    
@media only screen and (min-width:901px){
    .get_gcr li:hover .sub_gcr{display:block;}
    .header-1 .sub-menu{
        border:1px solid $blue;
        border-top:0;
    }
}
    
@media only screen and (max-width: 767px) {
    input {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        &[type="checkbox"]{
            width:auto;
            transform: scale(1.75);
            margin-right:10px;
        }
    }

    .portfolio-slider-section{
        margin-bottom:-20px;
        .module{
            &::before,
            &::after {
                width:100px;
            }
            li{
                margin:10px;
                .p-slide{
                    padding:5px 10px;
                    img{
                        max-width:120px;
                    }
                }
            }
        }
    }
    .page-section {
        padding: 30px 0;
        .meta-data h5 {
            display: none;
        }
        &.stepped{
            margin-top: 0;
        }
    }
    
    .article-block-vertical{
        .left-high-block{
            .overlay-text {
                padding: 0;
                position: relative;
                top: 0;
                bottom: 0;
            }
            .thumb {
                height: 30vw;
            }
        } 
        
    } 

    .article,
    .column {
        flex:100% !important;
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 30px !important;
    }
    .article{
        .text{
            min-height: 0 !important;
            .details{
                display: none;
            }
        }
        .thumb {
            float: right;
            width: 30% !important;
            margin-bottom: 0;
        }
        .text, .overlay-text {
            float: left;
            width: 65% !important;
        }
        h3{
            margin-bottom: 10px !important;
            font-size: 1.2em !important;
        }
        p{
            &.tag{
                margin-bottom: 5px;
            }
        }
        .meta-data{
            margin-top: 10px;
            position:relative !important;
            h5{
                margin-right: 0;
            } 
        }
    }

    .subscription-section{
        .subscribe-form{
            width:100%;
            margin-top: 30px !important;
            width: 100% !important;
            .field-side, .button-side{
                width:100%;
                text-align:center;
                max-width: 360px;
                margin: 0 auto;
                float: none;
            }
            &.horizontal {
                width: 100%;
                position: relative;
                text-align: left;
                margin-top: 0;
            }
            input {
                margin-bottom: 20px;
                margin-top: 0 !important;
                padding-left: 5px;
                text-align:center;
            }
            label {
                top: 0px !important;
                width: 100% !important;
            }
            button {
                max-width: 200px;
                margin: 0 auto;
                margin-top: 10px !important;
            }
            fieldset, button {
                float: none !important;
                width: 100%;
                margin-right: 0;
            }
            
        }
        .subscribe-text{
            width:100%;
            margin-right:0;
            font-size:1em;
            text-align:center;
            h3{
                font-size:1.5em;
            }
        }
    }
     
    .article-block-vertical{
        .left-high-block, .right-vertical-block{
            width: 100%;
            float: none;
            margin-left: 0;
        }
        
    } 

    .single-post{
        .post-meta{
            .meta-data{
                width: 100%;
                float: none;
                margin-bottom: 10px;
            }
            .tags-meta{
                width: 50%;
                margin-right: 4%;
            }
            .comment-meta{
                width: 46%;
            }
        }
    }

    .content, .sidebar {
        width: 100%;
        float: none;
    }
    .content{
        .header{
            h2{
                font-size: 2em;
            }
        }
        .description{
            .post-image, .social-meta{
                float: none;
                width: 100%;
                margin-right: 0;
                margin-bottom: 30px;
                li{
                    width: 50px;
                    float: left;
                    margin-right: 15px;
                    margin-top: 0 !important;
                }
            }
        }
    }
    .sidebar {
        margin-top: 60px;
        .article{
            position: relative;
            .thumb{
                position: revert; 
            }
            .tag{
                left: 0;
                a{
                    background: none;
                    color: $blue;
                    border: none;
                    padding: 0;
                }
            }
            .text{
                margin-top: 25px;
            }
        }
    }
    .content-wrap .site-content,
    .content-wrap .sidebar {
        width: 100%;
        padding: 0 15px !important; /* overflow: hidden; */
    }
    .content-wrap .site-content {
        margin-bottom: 70px;
    }
    .jp-relatedposts-post {
        width: 100% !important;
        padding-right: 0 !important;
    }
    
    /* new langing page */
    .header-2{
        #menu{
            background-color:$black;
            padding:5px;right: 15px;
        }
        .navigation-button{
            width:200px;float:right;margin-top:35px;
        }
    }
    .header-text{
        width:100%;padding-top:0;
        h2{font-size:2em;}
    }
    .tier-area{
        width:100%;
        padding:0px;
        flex-wrap: wrap;
        .single-tier{
            flex:100%;
            margin: 20px auto;
            max-width: 400px;
            .head {
                h3{font-size:2em;}
            }
            ul{min-height:0;}
        }
    }
    
    .related_post{
        .article{
            p{
                &.tag{
                    font-size: 0.7em;
                    line-height: 1em;
                    a{
                        color:$white;
                        display: inline-block;
                        padding: 6px;
                        margin-bottom: 5px;
                    }
                }
            }
            .meta-data{
                h5{
                    font-size:1em !important;
                }
                .date{
                    font-size:0.9em !important;
                }
            }
        }
    }
} /* media end */