.comment-area {
    border-top: 1px solid $gray-dark;
    margin: 50px 0 20px;
    .comments_list {
        width: 100%;
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 15px;
        li, .comment {
            padding: 10px 10px;
            border: 1px solid #dedede;
            margin-left:0;
            p {
                padding-right: 110px;
                margin-bottom: 0;
            }
            .comment-meta {display: none;}
            .children {
                margin-bottom: 15px;
                list-style-type: none;
            }
            .comment-body {
                position: relative;
                margin-bottom: 15px;
            }
            .comment-author {
                display:block;
                img, .says{
                    display: none;
                }
                .fn {
                    text-transform: capitalize;
                    font-weight: 700;
                    a{
                        display: block;
                        text-decoration: none;
                    }
                }
            }
            .reply {
                position: absolute;
                width: 80px;
                bottom: 0;
                right: 0;
                .comment-reply-link {
                    width: 100%;
                    display: inline-block;
                    border: 1px solid #d9d9d9;
                    background: $gray-light;
                    text-decoration: none;
                    color: $white;
                    text-align: center;
                    padding: 5px 10px;
                    
                    &:hover {
                        background: $blue;
                    }
                }
            }
            &+.comment{
                margin-top: 15px;
                border-top: 1px solid #bdbdbd;
            }
        }
    }
}


.comment-area{
    h3 {
        font-size: 24px !important;
        line-height: 1.6em;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .comment-form {
        width: 100%;
        .logged-in-as {
            display: none;
            a {
                display: inline-block;
                padding: 3px 10px;
                background: $gray-light;
                color: $white;
                text-decoration: none;
                &:hover {
                    background-color: $blue;
                }
            }
        }
        .comment-form-comment {
            margin-bottom: 0;
            label {
                display: none;
            }
        }
        
    }
    textarea {
        width: 100%;
        border: 2px solid $gray-dark;
        padding: 10px;
        margin-bottom: 20px;
    }
    input{
        display: inline-block;
        padding:3px 5px;
        &:focus{
            background:$white;
            box-shadow:0 0 2px rgba($blue,0.8);
        }
    }
    button, input.submit {
       display: inline-block;
       padding: 15px 25px;
       font-size: 1.2em;
       background: $blue;
       color: $white;
       border: 1px solid $blue-dark;
       border-radius: 3px;
       &:hover{
            background: $blue-dark;
       }
    }
}
