.flagship-section{
    padding:80px 0;
    .four-flagship{
        width: 56%;
        margin: 0 auto;
        @include tablet-to-pc{
            width:90%;
        }
        display: grid;
        grid-template-columns: 50fr 50fr;
        grid-gap:60px;
        @include for-phone{
            grid-template-columns: 1fr;
        }
        .flagship{
            .title{
                font-size:2.15em;
                line-height:1.3em;
                font-family:$gilroybold;
                margin-bottom:20px;
                .larger{
                    font-size:3em;
                    line-height:1em;
                    display:block;
                    @include for-phone{
                        font-size:2.4em;
                    }
                }
            }
            .tag{
                font-size: 14px;
                line-height: 120%;
                text-transform: uppercase;
                color: $blue;
                margin-bottom:0;
            }
            p{
                font-size:14px;
                line-height:1.6em;
                color:rgba($black,0.5);
                &.category{
                    margin: 10px 0;
                    font-size: 18px;
                    line-height: 130%;
                    text-transform: capitalize;
                    font-family:$gilroybold;
                    color:$black;
                }
                &.excerpt{
                    min-height: 120px; 
                }
            }
            .btn{width:180px;}
        }
    }
}
