.portfolio-section{
    margin:30px 0 60px;
    .linking-area{
        margin-bottom:30px;
        .sorting{
            margin-bottom:30px;
            float:left;
            @include for-phone{
                margin-bottom:15px;
            }
        }
        .portsort{
            // padding:5px 15px;
            font-size:14px;
            background: transparent;
            // border:1px solid #dedede;
            display: inline-block;
            margin-right: 20px;
            margin-bottom:10px;
            color:rgba(#000,0.5);
            border-radius: 2px;
            cursor:pointer;
            .dark & {
                color:#f1f1f1;
            }
            &.active, &:hover{
                // border-color:$blue-dark;
                // background: $blue;
                // color:#fff;
                color:$blue;
                .dark & {
                    color:$yellow;
                }
            }
        }
        .links{
            float:right;
            @include for-phone{
                float:left;
            }
            ul{
                li{
                    display: inline;
                    margin-left:20px;
                    @include for-phone{
                        float:right;
                        margin-left:0;
                    }
                    a{
                        color:rgba(#000,0.5);
                        .dark & {
                            color:$white;
                            &:hover{
                                color:$yellow;
                            }
                        }
                        &:hover{
                            text-decoration: none;
                            color:$blue;
                        }
                        &.linker{
                            background-color: $blue;
                            .dark & {
                                background-color:$yellow;
                                color:black;
                                &:hover{
                                    background-color: $dm-text; 
                                }
                            }
                            padding:5px 15px;
                            color:#fff;
                            border:0;
                            &:hover{
                                background-color: $blue-dark;
                            }
                        }
                        
                    }
                }
            }
        }
    }
    
    .portfolios{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        @include upto-pc{
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include for-phone{
            grid-template-columns: 1fr 1fr;
        }
        .item{
            flex-basis: 25%;
            text-align: center;
            margin-bottom:85px;
            padding: 0 2.5rem;
            box-sizing: border-box;
            
            @include for-phone{
                padding: 0;
            }
            p{
                margin-top:5px;
                display: block;
                padding:10px;
                font-size:16px;
                font-weight: 700;
                border-top:2px solid $blue-border;
                color:$blue-border;
                .dark &{
                    color: $yellow;
                    border-color: $yellow;
                }
            }
            &:not(.active){
                display:none;
            }
            &:hover{
                text-decoration: none;
                
            }
            a{
              display: block;
              padding:10px 15px;  
              &:hover{
                background-color: rgba( $blue,0.1);
              }
              .dark & {
                    background: #fff;
                    &:hover{
                        background-color: #ffffda;
                    }
              }
            }
            img{
                max-width: 100%;
            }
        }
    }
}

