.testimonial-section {
    margin: 50px auto 60px;
    max-width: 900px;
    
    font-family: $gilroy;
    
    @include upto-pc{
        width:90%;
    }
    .section-text {
        text-align: center;
        font-size: 28px;
        line-height: 120%;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .testimonials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px;
        @include for-phone{
            grid-template-columns: 1fr;
        }
        .item {
            text-align: center;
            border:1px solid #e0e0e0;
            padding:10px;
            position: relative;
            padding-bottom: 40px;
            
            .image {
                margin-bottom: 15px;
                padding:7px 0;
                display:block;
                .dark &{
                    background-color: #fff;
                }
                img{
                    max-width: 200px;
                }
            }
            .text{
                padding:0 10px 10px;
                padding-left:50px;
                blockquote{
                    color:#000;
                    .dark &{
                        color: #fff;
                    }
                    text-align: left;
                    position: relative;
                    margin-bottom: 10px;
                    font-family: $gilroy;
                    font-size: 15px;
                    &:before{
                        content:"";
                        display:block;
                        width:35px;
                        height:30px;
                        position: absolute;
                        left:-45px;
                        top:0;
                        background: url('img/blockquote.png') no-repeat;
                        background-size:35px;
                    }
                }
                .author{
                    text-align: right;
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                    .name {
                        font-size: 16px;
                        line-height: 24px;
                        margin-top: 10px;
                        color:$blue-dark;
                        font-weight: 700;
                        margin-bottom:0;
                        .dark &{
                            color: #e3e3e3;
                        }
                    }
        
                    .position {
                        font-size: 14px;
                        line-height: 20px;
                        color:#000;
                        font-style: italic;
                        .dark &{
                            color: #fff;
                        }
                    }
                }
            }
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.tag-cloud-container{
    margin:0 auto 60px;
    width:100%;
    max-width: 1000px;
    #tag-cloud {
        text-align: center;
    }
    svg{
        @include for-phone{
            height:400px;
        }
    }
}