/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**********************************************************************************************
************************************* Present CSS**********************************************/
body,
html {
    min-height: 100%;
    height: 100%;
}
b,
strong {
    font-weight: 700;
}
li {
    display: list-item;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}
th,
td,
caption {
    font-weight: normal;
    vertical-align: top;
    text-align: left;
}
q {
    quotes: none;
}
q:before,
q:after {
    content: "";
    content: none;
}
sub,
sup,
small {
    font-size: 75%;
}
sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
svg {
    overflow: hidden;
}
textarea {
    resize: vertical;
}
a {
    list-style: none;
    text-decoration: none;
    outline: 0;
    color: $blue;
}
a:focus {
    outline: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    outline: none;
}
:focus {
    outline: 0;
}
img {
    width: auto\9;
    height: auto;
    border: none;
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $gray-dark;
    margin: 1em 0;
    padding: 0;
}