h2 {
    font-size: 1.75em;
    margin-bottom: 30px;
    font-weight: 700;
}
h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}
h4 {
    font-size: 1.4em;
    margin-bottom: 15px;
}
h5 {
    font-size: 1.3em;
    margin-bottom: 15px;
}
.section-title,
.entry-header {
    margin-bottom: 20px;
    font-family: $gilroybold;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom:30px;
    border-bottom: 2px solid $blue;
    font-size: 2em;
    .dark &{
        border-color:$yellow;
    }
    h1,h2,h3,h4,h5,h6{
        font-size:inherit;
        line-height: 1.6em;
        margin-bottom:0;
    }
}

.section-title-2{
    text-align:center;
    width:100%;
    max-width:630px;
    margin:0 auto 40px;
    margin-bottom:20px;
    h2{
        font-size:3em;
        font-family: $gilroymedium;
        font-weight:700;
        line-height:50px;
        margin-bottom: 15px;
    }
    .section-moto{
        font-size: 1.45em;
        line-height:1.25em;
        color:rgba($black,0.5);
        font-family:$gilroy;
    }
}

p.date {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 8px;
}

.has-medium-font-size{
    font-size: 16px !important;
}
.has-large-font-size, .has-small-font-size{
    font-size:1em !important;
}