$white:#fff;
$whitish:#fafafa;
$black:#000;
$gray-dark: #212121;
$gray-light: #a3a3a3;
$gray-mid: #7a747a;
$gray-lighter: #dedede;
$error: #ff0000;

$dm-blue: #1a30a2;
$dm-text: #f1f1f1;
$dm-grey: #4d4d4d;
$dm-darkblue: #061237;
$yellow: #ffdb00;

$site-background: $whitish;

$blue: #2649f5;
$bluish:#7088fb;
$blue-light: #e8ecff;
$blue-dark:#3a3aab;
$blue-border:#4b49f6;
$blue-dark: #061237;
$nav-bg: #0b2dd4;

$selection-color: #b3d4fc;
$placeholder-color: $white;
$placeholder-color-dark: rgba($black,0.5);
$footer-link-color: $white;

$purple-dark: #382f38;


$scroll-track-color: #c0c0ff;
$scroll-thumb-color: #4646e3;
$scroll-hover-color: #3a3aab;



// mixin area
@mixin for-phone {
    @media only screen and (max-width:767px) {
        @content;
    }
}

@mixin font($size, $line-height, $weight:400){
    font-size:$size;
    line-height:$line-height;
    @if $weight!=400 {
        font-weight: $weight;
    }
}