$white:#fff;
$whitish:#fafafa;
$black:#000;
$gray-dark: #212121;
$gray-light: #a3a3a3;
$gray-mid: #7a747a;
$gray-lighter: #dedede;
$error: #ff0000;

$site-background: $whitish;

$blue: #2649f5;
$bluish:#7088fb;
$blue-light: #e8ecff;
$blue-dark:#3a3aab;
$blue-border:#4b49f6;
$blue-dark: #061237;
$nav-bg: #0b2dd4;

$selection-color: #b3d4fc;
$placeholder-color: $white;
$placeholder-color-dark: $gray-dark;
$footer-link-color: $white;

$purple-dark: #382f38;


$scroll-track-color: #c0c0ff;
$scroll-thumb-color: #4646e3;
$scroll-hover-color: #3a3aab;